/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Oswald';
	background-color: #f4f7fc;
	color: #333;
	line-height: 1.6;
	padding-top: 2.8125rem; /* 45px */
}

header.hero {
	background: url('resources/images/background-banner/11.png');
	background-size: cover;
	top: -8rem;
	height: 110vh;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.header--scroll {
	background-color: rgba(0, 9, 87, 1); /* Ensure the alpha value is 1 (opaque) */
	box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition for background and box-shadow */
}

.header--scroll a {
	color: #f4f7fc;
	transition: color 0.3s ease; /* Smooth transition for link color */
}

.nav__menu--open {
	display: block;
	transform: translateX(0);
	transition: all 0.3s ease-in-out;
}

/* nav,
a,
h3 {
	color: rgb(255, 255, 255);

} */

.hero-content {
		position: absolute;
		top: 60%;
		left: 8%;
		transform: translateY(-50%)
}

.hero-content h1 {
	font-size: 7rem; 
	font-weight: 700;
	line-height: 5rem;
	background: linear-gradient(to right, #a78143, #fef59b, #86680f	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	text-decoration: none;
}

.hero-content p {
	font-size: 2rem;
	margin-bottom: 4rem; /* 30px */
	color: #f4f7fc;
}

.hero-content a {
	all: unset;
	background-color: #000957;
	display: inline-block;
	margin-top: 1.25rem;
	color: #ffffff;
	font-size: 1.5rem;
	text-decoration: none;
	cursor: pointer;
	border: 0.125rem solid #f3db26;
	padding: 0.625rem 1.25rem;
	border-radius: 1.875rem;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-content a:hover {
	background: linear-gradient(to right, #a78143, #bdb34e, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.05);
}

button {
	padding: 0.9375rem 2.1875rem; 
	font-size: 1.2rem;
	background-color: #ffe600;
	color: #000957;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

button:hover {
	background-color: #FFCC00;
	transform: scale(1.05);
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1rem 9rem; /* 10px 20px */
	z-index: 1000;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul li {
	margin: 0 1.25rem; /* 20px */
}

nav ul li a, .logo {
	color:#000957;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.625rem;
	transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #e6d117;
}

h1 {
	font-size: 3rem;	
	margin-bottom: 1rem; /* 30px */
	color: #000957;
}

.section {
	padding: 4.25rem 0; /* 1100px */
	text-align: center;
	justify-self: center;
	position: relative;
	top: -8rem;
	width: 100%;
}

.section h3 {
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
}

#about {
	background: url('resources/images/background-banner/aboutbg.png');
	background-size: cover;
	width: 100%;
	height: 90.5vh;	
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column
}

#about img {
	position: absolute;
  bottom: 0;   /* Position the image at the bottom */
  right: 0;    /* Position the image at the right */
  width: 150px; /* You can adjust the size of the image */
  height: auto; /* Maintain aspect ratio */	
}

#about p {
	color: #000957;
	font-size: 1.2rem;
	text-align: left;
	padding: 0 1rem 1rem 1rem;
	text-align: center;
}

#about h1 {	
	background: linear-gradient(to right, #a78143, #fef59b, #86680f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 4rem;
	text-align: left;
}

#about h3 {
	background: linear-gradient(to right, #a78143, #fef59b, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
	text-align: left;
	padding: 0.5rem 1rem;
}

.about__description {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 1rem;
	max-width: 48%;
	height: auto;
}

.about__card {
	color: white;
	padding: 0.25rem; 
	border-radius: 0.75rem; 
	margin-bottom: 	0.5rem;
	box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 100%;
	background-color: white;
  border-left: 5px solid transparent;  /* Set the width of the left border */
  border-image: linear-gradient(to bottom, #ff7e5f, #feb47b) 1; /* Gradient color for the left side */
}


#services {
	max-width: 80%;
	padding: 6.25rem 1.25rem 0 1.25rem; 
}

.service-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5rem; 
}

.service-card {
	background: #fff;
	border-radius: 0.75rem; 
	margin-bottom: 2rem;
	width: 30%;
	box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1); 
	text-align: center;
}


.service-icon {
	font-size: 3rem;
	color: #344CB7;
	margin-bottom: 1.25rem; 
}

.service-card h3 {
	font-size: 1.6rem;
	color: #000957;
	text-align: center;
}

.service-card p {
	font-size: 1.1rem;
	color: #344CB7;
}

.service-card p, .service-card h3 {
	margin: 0 0.75rem 0.75rem 0.75rem;
}

.service-card img {
	border-radius: 0.75rem 0.75rem 0 0;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	background-size: cover;
	border-radius: 1rem;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	padding: 0.5rem;
}

.service-card img:hover {
	transform: scale(1.03); 
	box-shadow: 0 0.94rem 1.56rem rgba(0, 0, 0, 0.1); 
	overflow: none;
}

footer {
	background-color: #000957;
	color: white;
	text-align: center;
	padding: 1rem;	 /* 10px */
}

footer p {
	font-size: 0.9rem;
	text-decoration: none;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
}

footer img {
	max-width: 0.9rem;
}
/* 
#footer h2 {
	padding-bottom: 1rem;
} */

/* Responsive Design */
@media (max-width: 48em) { /* 768px */
	.service-cards {
			flex-direction: column;
			align-items: center;
	}

	.service-card {
			width: 80%;
	}

	nav ul {
			flex-direction: column;
			align-items: center;
	}

	nav ul li {
			margin: 0.625rem 0; /* 10px 0 */
	}
}

.nav__container,
.nav__toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__toggle img {
	max-width: 4rem;
	height: auto;
}


/* Maxicare Plans Section */
#maxicare {
	/* background: url('resources/images/background-banner/15.png');
	background-size: cover; */
	background-color: rgb(255, 255, 255);
	height: auto;
	max-width: 100%;
	border-radius: 0.5rem; 
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	padding: 4rem 6rem;
}

#maxicare::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit; /* Inherit background image */
	opacity: 0.5; /* Set opacity here */
	border-radius: 0.5rem;
	z-index: -1; /* Ensure the background is behind content */
}

.maxicare-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.maxicare-plans {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.875rem; /* 30px */
	margin-bottom: 2.5rem;
	max-width: 80%;
}

.maxicare-plan1, .maxicare-plan2 {
	background-color: rgba(232, 237, 253, 0.1);  /* Blue with 50% opacity */
	place-items: center;
	padding: 1.25rem; /* 20px */
	border-radius: 0.5rem; /* 8px */
	box-shadow: 0 0.5rem 0.9375rem rgba(5, 5, 5, 0.1);
	text-align: start;
	text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
	font-weight: bolder;
}

.maxicare-plan1 h3 {
	background: linear-gradient(to right, #a78143, #e2d32d, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.maxicare-plan2 h3 {
	background: linear-gradient(to right, #ff0000, #474747, #0011ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.maxicare-plans img {
	background-size: cover;
	border-radius: 10px;
	max-width: 100%; /* 160psx */
	height: 25rem;
	transition: transform 0.3s ease;
}

.maxicare-plans img:hover {
	transform: scale(1.02);
}

.maxicare-plans p {
	color: rgb(103 126 171);
	box-shadow: 0 0.5rem 0.9375rem rgba(5, 5, 5, 0.1);
    padding: 1.5rem 0.8rem;
    border-radius: 10px;
    font-weight: bolder;
    line-height: 1.5rem;
		height: 168px;
}

.maxicare-plans a {
	text-decoration: none;
	text-align: center;
}

.maxicare-link {
	all: unset;
	background-color: #000957;
	display: inline-block; /* 20px */
	color: #ffffff;
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
	border: 0.125rem solid #000957; /* 2px */
	padding: 0.625rem 1.25rem; /* 10px 20px */
	border-radius: 1.875rem; /* 30px */
	transition: background-color 0.3s ease, color 0.3s ease;
}

.maxicare-link:hover {
	background: linear-gradient(to right, #a78143, #bdb34e, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.05);
}

/* General Styles */

/* General Container */
.why-container {
	background: linear-gradient(#ddd, #f4f4f4, #f4f7fc);
  max-width: 1200px;
  margin: 0 auto;	
  padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4rem 1.5rem;
}
/* Heading Styles */
#why-choose h1 {
  font-family: 'Helvetica Neue', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
	font-size: 2.5rem;
}

/* Why Choose Me Section */
.why-content {
  list-style: none;
  padding: 0;
	display: flex;
  align-items: center;
	justify-content: center;
}

.why-content i {
  font-size: 1.5rem;
  color: #ff6f61;
  margin-right: 15px;
}

.why-card {
	margin: 1rem;
	background-color: #ffffff;
	border-radius: 0 50px;
	border-left: 5px solid transparent;  /* Set the width of the left border */
  border-image: linear-gradient(to bottom, #f7df0b, #fff5ed, transparent) 1;
	text-align: left;
	padding: 1.5rem;
	height: 300px;
	width: 33%;
}

.why-card p {
	margin: 1rem	0;
}

.why-card strong {
	font-size: 1.5rem;
}

/* Test Section */
#test {
  height: 150vh;
  display: grid;
  grid-template-areas: 
    "why-me why-me"
    "testimonial faqs";
  gap: 3rem;
	justify-items: center;
	justify-content: center;
  padding: 2rem;
}

#test h2 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
}

.why-container {
  grid-area: why-me;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimonials {
  grid-area: testimonial;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.faqs {
  grid-area: faqs;
	width: 100px;
}

/* Testimonial and FAQ Styles */
.testimonials, .faqs, .why-me {
  width: 100%;
  overflow: hidden;
}

.faq-content {
  background-color: white;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 850px;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  background-color: #f2f2f2;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #ddd;
}

.faq-answer {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #00ff08;
  display: none;
  border-radius: 5px;
}

.faq-answer.open {
  display: block;
}

/* Swiper Styles for Testimonials */
.swiper-container {
  overflow: hidden;
  width: 80%;
  display: flex;
}

.swiper-wrapper {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide {
  flex-shrink: 0;
  background-color: rgb(216, 254, 254);
  border-radius: 20px;
	padding: 1rem;
}

.testimonial-container {
  transition: transform 1s ease-in-out;
}

.testimonial-slide {
  display: inline-block;
  width: 100%;
}

.testimonial__wrapper p {
  font-size: 2rem;
  text-align: left;	
}

.testimonial__wrapper {
  border-radius: 2rem;
}

.swiper-pagination {
  padding: 1rem;
}

.swiper-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
} 

.swiper-user p {
	margin: 0 1rem;
}

.swiper-user img {
  width: 7rem;
  height: auto;
  border-radius: 10rem;
}

/* FAQ Paragraph Styles */
.faqs p {
  text-align: left;
}


/* Contact Section */
#consultation {
	background: url('resources/images/background-banner/2.png');
	background-size: cover;
	width: 100%; /* 1100px */
	border-radius: 0.625rem; /* 10px */
	box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1); /* 8px 15px */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83vh;
	padding: 8rem;
	gap: 2rem	;
}

.consultation-container{
	background-color: white;
	padding: 4rem 2rem;
	border-radius: 40px;
}

.consultation-blog {
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog {
	padding: 0.5rem 1rem 1rem 1rem;
	border-radius: 10px;
	margin: 0 0.5rem;
	max-width: 30%;
	box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}

.blog img:hover {
	transform: scale(1.1);
}

.blog img {
	border-radius: 20px;
	background-size: cover;
	max-width: 100%;
	height: 10rem;
	transition: transform 0.3s ease
}

.blog a {
	text-decoration: none;
	padding-bottom: 2rem;
}

.consultation-title h2 {
	color: #000957;
	font-size: 2.5rem;
	margin-bottom: 3rem;
	line-height: 3rem;
}

#consultation .contact-link {
	all: unset;
	background-color: #000957;
	display: inline-block;
	margin: 0.625rem;
	font-size: 1.2rem;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	border: 0.125rem solid #000957; /* 2px */
	padding: 0.625rem 1.25rem; /* 10px 20px */
	border-radius: 1.875rem; /* 30px */
	transition: background-color 0.3s ease, color 0.3s ease;
}

#consultation .contact-link:hover {
	background: linear-gradient(to right, #a78143, #bdb34e, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.05);
}

/* #consultation h2 {
	background: linear-gradient(to right, #a78143, #bdb34e, #d0b870);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
} */
